@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?r2ev6s');
  src:  url('fonts/icomoon.eot?r2ev6s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?r2ev6s') format('truetype'),
    url('fonts/icomoon.woff?r2ev6s') format('woff'),
    url('fonts/icomoon.svg?r2ev6s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-settings:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e901";
}
.icon-fire:before {
  content: "\e902";
}
.icon-heart:before {
  content: "\e903";
}

body
{
  font-family: 'Roboto';
  margin: 0;
}
.wrapper
{
  display: grid;
  grid-template: 70px 1fr / 70px 1fr 1fr 1fr;
  grid-template-areas: "header header header header"
                       "menu contenido contenido contenido";
}

header
{
  grid-area: header;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.header
{
  display: grid;
  grid-template: 70px / [inicio] 1fr [logo-end] 1.2fr [barra-end] 0.8fr [final];
  align-items: center;
}

.logo
{
  grid-column: inicio / logo-end;
}

.logo figure
{
  margin: 0;
}

.logo figure img
{
  width: 30%;
  margin: 2em;
}

form
{
  grid-column: logo-end / barra-end;
  align-items: center;
}

form input
{
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: .2em;
}

.user
{
  grid-column: barra-end / final;
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
}

.user p
{
  font-size: 1em;
  text-align: end;
  margin: auto 0;
}

.user-imageWrapper
{
  margin-left: .5em;;
}
.user-image
{
  width: 50%;
  border-radius: 50%;
  margin-top: .3em;
}

.menu
{
  grid-area: menu;
  background: linear-gradient(to left, #ea545d, #ee726a);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5em 0;
}

.menu a
{
  text-decoration: none;
  color: white;
}

.menu a i
{
  font-size: 1.8em;
}

.menu a p
{
  font-size: .8em;
  font-weight: bold;
}
.movies
{
  grid-area: contenido;
  padding: 0 3em 3em 3em;
}

.cinema-list
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2em;
}

.movies-item
{
  grid-column: 1 / 2;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.movies-item2
{
  grid-column: 2 / 3;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.movies-item3
{
  grid-column: 3 / 4;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.movies-imageWrapper
{
  margin: 0;
}

.movies-image
{
  width: 100%;
  margin-bottom: -1em;
}

.movies-description
{
  background: rgba(234, 84, 93, 0.80);
  color: white;
  position: absolute;
  bottom:0;
  padding: .5em 1em;
  height: 46.3%;
}

.movies-description h3
{
  margin: 0;
  font-size: 1em;
  margin-bottom: .2em;
}

.movies-description p
{
  margin: 0;
  font-size: .6em;
}

h2
{
  font-size: 1em;
  margin-top: 2em;
}

.critics-list
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2em;
}

.recommended-list
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2em;
}

@media screen and (max-width: 1023px)
{
  .movies-description h3
  {
    font-size: .7em;
  }
  .movies-description p
  {
    font-size: .5em;
    line-height: 1.2em;
  }
}

@media screen and (max-width: 767px)
{
  .wrapper
  {
    display: grid;
    grid-template: auto auto 1fr / 1fr 1fr 1fr;
    grid-template-areas: "header header header"
                         "menu menu menu" 
                         "contenido contenido contenido";
  }

  .menu
  {
    flex-direction: row;
    padding: 1em 1em;
  }

  .menu div a
  {
    margin: 0 1em 0 0;
  }
  .menu div
  {
    display: flex;
  }
  
  .menu div p
  {
    margin-bottom: 0;
    margin-top: .5em;
  }

  .logo
  {
    width: 50%;
    margin: .1em .5em;
  }

  .logo figure img
  {
    margin: 1em 0 0 1em;
    width: 80%;
  }

  .user
  {
    grid-template-columns: auto 20%;
    justify-content: end;
    grid-column-gap: .3em; 
    margin-top: 1em;
  }
  .user-image
  {
    width: 50%;
    align-self: center;
    margin: 0;
  }

  .cinema-list
  {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    grid-row-gap: 1em;
  }
  
  .movies-item
  {
    grid-row: 1 / 2;
  }
  .movies-item2
  {
    grid-column: 1 /2;
    grid-row: 2 / 3;
  }

  .movies-item3
  {
    grid-column: 1 /2;
    grid-row: 3 / 4;
  }

  h2
  {
    font-size: 2em;
    margin-top: 1em;
  }

  .movies-description
  {
    height: 40%;
  }

  .movies-description h3
  {
    font-size: 2em;
  }

  .movies-description p
  {
    font-size: 1em;
  }

  .critics-list
  {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    grid-row-gap: 1em;
  }

  .recommended-list
  {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    grid-row-gap: 1em;
  }

  header
  {
    height: auto;
  }

  .header
  {
    grid-template: 1fr auto / 1fr 1fr;
    grid-template-areas: "logo usuario" 
                         "barra barra"
  }

  .logo
  {
    grid-area: logo;
  }

  .user
  {
    grid-area: usuario;
    align-items: start;
  }

  form
  {
    grid-area: barra;
    padding: 1em;
  }

  .user p{
    margin: auto auto;
  }
  .user figure{
    margin: 0;
  }
}

@media screen and (max-width: 480px)
{
  .user
  {
    grid-template-columns: auto 20%;
    grid-column-gap: .3em; 
    margin-right: 1em;
  }

  .user-image
  {
    width: 70%
  }

  .menu
  {
    font-size: .9em;
  }

  h2
  {
    font-size: 1.5em;
  }

  .movies-description
  {
    height: 50%;
  }

  .movies-description h3
  {
    font-size: 1.3em;
  }

  .movies-description p
  {
    font-size: .7em;
  }
  .movies{
    padding: 1.2em;
  }
}

@media screen and (max-width: 320px){
  .user
  {
    grid-template-columns: 50% 30%;
  }
  .logo figure img
  {
    width: 120%;
  }

  .menu{
    font-size: .8em;
  }
  .movies{
    padding: 1em;
  }

  .movies-title{
    margin-top: .4em;
  }

  .movies-description h3
  {
    font-size: 1em;
  }

  .movies-description p
  {
    font-size: .6em;
  }
}
